<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everysucceed.mapper.SysResourceMapper">
    <insert id="save" parameterType="sysResource">
        insert into sys_resource(name,url) values (#{name},#{url})
    </insert>
    <select id="list" resultType="com.everysucceed.entity.SysResource">
        select * from sys_resource
    </select>
</mapper>